.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 175px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar-logo img {
    width: 100px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-link {
    text-decoration: none;
    color: #262626;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.sidebar-link:hover {
    background-color: #f0f0f0;
}

.sidebar-link.active {
    color: #0095f6;
    font-weight: bold;
    background-color: #e6f3fe;
}

.sidebar-link svg {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        padding: 10px 0;
    }

    .sidebar-logo img {
        width: 50px; 
    }

    .sidebar-link {
        font-size: 14px;
        padding: 8px;
    }

    .sidebar-link svg {
        margin-right: 5px;
    }
}
